{% extends "base.html.twig" %}

{% block title %} HSP - Modifier une conférence{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mt-4" style="text-align: center">Modifier la conférence</h1>
        <hr class="my-4">

        {{ form_start(form) }}
        {{ form_row(form.nom, {'label': 'Nom de la conférence :'}) }}
        {{ form_row(form.description, {'label': 'Description :'}) }}

        {# Personnalisation du champ de date ici #}
        {{ form_row(form.date, {'label': 'Date de la conférence :'})|raw }}

        {{ form_row(form.heure, {'label': 'Heure de la conférence :'}) }}
        {{ form_row(form.duree, {'label': 'Durée de la conférence :'}) }}
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            // Activer Select2 sur le champ de date
            $('.select2').select2();
        });
    </script>
{% endblock %}
