{% extends 'base.html.twig' %}

{% block title %}HSP - Conférences{% endblock %}

{% block datatable_styles %}
    {{ parent() }}
    <!-- Ajouter des styles spécifiques à DataTables si nécessaire -->
{% endblock %}

{% block body %}
    <div class="container mt-4">
        {% if not conferences.items is same as ([]) %}
            <h1 style="text-align: center">Liste des conférences</h1>
            <hr class="my-4">

            {%  for message in app.flashes('success') %}
                <div class="alert alert-success mt-4">
                    {{ message }}
                </div>
            {% endfor %}

            {% if is_granted('ROLE_ETUDIANT') or is_granted('ROLE_REPRESENTANT') %}
                <a href="{{ path('conference.new') }}" class="btn btn-primary">
                    Créer une conférence
                </a>
            {% endif %}

            <div class="count mt-4">
                <h4 style="color: #1aa990">
                    Nombre total de conférences validées: {{ totalValidConferences }}
                </h4>
            </div>

            {% set canModifyConference = false %}
            {% for conference in conferences %}
                {% if is_granted('ROLE_USER') and conference.refUtilisateur == app.user  and conference.statut == 0 %}
                    {% set canModifyConference = true %}
                {% endif %}
            {% endfor %}

            <table class="table table-hover" id="dataTable">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Description</th>
                    <th scope="col">Date</th>
                    <th scope="col">Heure</th>
                    <th scope="col">Durée</th>
                    <th scope="col">Amphithéâtre</th>
                    {% if is_granted('ROLE_ETUDIANT') %}
                        <th scope="col">Inscription / Désinscription</th>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <th scope="col">Statut</th>
                        <th scope="col">Actions</th>
                        <th>Suppression</th>
                    {% endif %}
                    {% if is_granted('ROLE_USER') and canModifyConference %}
                        <th scope="col">Modification <br> (jusqu'à la validation)</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% set currentDate = 'now'|date('Y-m-d H:i', 'Europe/Paris') %}
                {% for conference in conferences %}
                    {% set currentDateWithoutTime = currentDate|date('Y-m-d') %}
                    {% set conferenceDate = conference.date|date('Y-m-d') %}
                    {% set inscriptionEndDate = conference.date|date_modify('+' ~ conference.duree|date('H') ~ ' hours ' ~ conference.duree|date('i') ~ ' minutes') %}
                    {% set amphitheatre = conference.refamphi %}

                    {% if is_granted('ROLE_ADMIN')
                        or is_granted('ROLE_ETUDIANT') and conference.statut == 1
                        or is_granted('ROLE_REPRESENTANT') and conference.statut == 1
                        or conference.refUtilisateur == app.user %}
                        <tr class="Default">
                            <th scope="row">{{ conference.id }}</th>
                            <td>{{ conference.nom }}</td>
                            <td>{{ conference.description }}</td>
                            <td>{{ conference.date|date('d-m-Y') }}</td>
                            <td>{{ conference.heure|date('H:i') }}</td>
                            <td>{{ conference.duree }}</td>
                            <td>
                                {% if conference.refamphi is not null %}
                                    {{ conference.refamphi.nom }}
                                {% else %}
                                    Non attribué
                                {% endif %}
                            </td>
                            {% if is_granted('ROLE_ADMIN') %}
                                <td>
                                    {% if conference.statut == 0 %}
                                        invalide
                                    {% elseif conference.statut == 1 %}
                                        valide
                                    {% endif %}
                                </td>
                                <td>
                                    {% if conference.statut == 0 %}
                                        <a href="{{ path('select_amphitheatre', {'conferenceId': conference.id, 'amphitheatreId': amphitheatre ? amphitheatre.id : null}) }}" class="btn btn-success">Valider</a>
                                    {% elseif conference.statut == 1 %}
                                        <a href="{{ path('conference.invalidation', {'id': conference.id}) }}" class="btn btn-info">Invalider</a>
                                    {% endif %}
                                <td>
                                    <a href="{{ path('conference.suppression', {'id': conference.id}) }}" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette conférence ?')">Supprimer</a>
                                </td>
                            {% endif %}
                            {% if is_granted('ROLE_ETUDIANT') and conference.statut == 1 %}
                            <td>
                                {% set currentDateWithoutTime = currentDate|date('Y-m-d') %}
                                {% set conferenceDate = conference.date|date('Y-m-d') %}
                                {% set inscriptionEndDate = conference.date|date_modify('+' ~ conference.duree|date('H') ~ ' hours ' ~ conference.duree|date('i') ~ ' minutes') %}

                                {% if currentDateWithoutTime < conferenceDate %}
                                    {% set isUserRegistered = false %}
                                    {% for inscription in conference.inscriptions %}
                                        {% if inscription.getRefEtudiant == app.user %}
                                            {% set isUserRegistered = true %}
                                        {% endif %}
                                    {% endfor %}

                                    {% if not isUserRegistered %}
                                        {% if conference.inscriptions.count < conference.refAmphi.NbPlaces %}
                                            <a href="{{ path('conference.inscription', {'id': conference.id}) }}" class="btn btn-success">S'inscrire</a>
                                        {% else %}
                                            Aucune place disponible
                                        {% endif %}
                                    {% else %}
                                        <a href="{{ path('conference.desinscription', {'id': conference.id}) }}" class="btn btn-danger">Se désinscrire</a>
                                    {% endif %}
                                {% else %}
                                    Inscriptions clôturées
                                {% endif %}
                                {% endif %}
                                {% if is_granted('ROLE_ETUDIANT') and conference.statut == 0 %}
                            <td>
                                En attente de validation
                            </td>
                            {% endif %}
                            {% if is_granted('ROLE_USER') and canModifyConference and conference.statut != 1 %}
                                <td>
                                    <a href="{{ path('conference.modification', {'id': conference.id}) }}" class="btn btn-info">Modifier</a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
            <div class="navigation d-flex justify-content-center mt-4">
                {{ knp_pagination_render(conferences) }}
            </div>
        {% else %}
            <h4>Il n'y a pas de conférences</h4>
        {% endif %}
    </div>
{% endblock %}

{% block datatable_scripts %}
    {{ parent() }}
    <!-- Initialisation de DataTables -->
    <script>
        $(document).ready(function() {
            $('#dataTable').DataTable({
                "aoColumnDefs": [
                    { "bSortable": false, "aTargets": [0, 1, 2, 3, 4, 5, 6, 7
                            {% if is_granted('ROLE_ETUDIANT') or is_granted('ROLE_REPRESENTANT') %}8{% endif %}
                            {% if is_granted('ROLE_ADMIN') %}9, 10{% endif %} ] }
                ]
            });
        });
    </script>
{% endblock %}
