{% extends 'base.html.twig' %}

{% block title %}HSP - Types d'offres{% endblock %}

{% block datatable_styles %}
    {{ parent() }}
    <!-- Ajouter des styles spécifiques à DataTables si nécessaire -->
{% endblock %}

{% block body %}
    <div class="container mt-4">
        {% if not type_offre.items is same as ([]) %}
            <h1 style="text-align: center">Liste des types d'offres</h1>
            <hr class="my-4">

            {%  for message in app.flashes('success') %}
                <div class="alert alert-success mt-4">
                    {{ message }}
                </div>
            {% endfor %}

            <a href="{{ path('type_offre.new') }}" class="btn btn-primary">
                Créer un type d'offre
            </a>

            <div class="count mt-4">
                <h4 style="color: #1aa990">
                    Nombre total de types d'offres :
                    {{ type_offre.getTotalItemCount }}
                </h4>
            </div>

            <table class="table table-hover" id="dataTable">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Libelle</th>
                    <th scope="col">Édition</th>
                    <th scope="col">Suppression</th>
                </tr>
                </thead>
                <tbody>
                {% for type_offre in type_offre %}
                    <tr class="Default">
                        <th scope="row">{{ type_offre.id }}</th>
                        <td>{{ type_offre.libelle }}</td>
                        <td>
                            <a href="{{ path('type_offre.edit', { id: type_offre.id }) }}" class="btn btn-info">Modifier</a>
                        </td>
                        <td>
                            <a href="{{ path('type_offre.delete', { id: type_offre.id }) }}" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce type d\'offre ?')">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="navigation d-flex justify-content-center mt-4">
                {{ knp_pagination_render(type_offre) }}
            </div>
        {% else %}
            <h4>Il n'y a pas de type d'offre</h4>
        {% endif %}
    </div>
{% endblock %}
{% block datatable_scripts %}
    {{ parent() }}
    <!-- Initialisation de DataTables -->
    <script>
        $(document).ready(function() {
            $('#dataTable').DataTable();
        });
    </script>
{% endblock %}
