{% extends 'base.html.twig' %}

{% block title %}HSP - Offres d'emploi{% endblock %}

{% block datatable_styles %}
    {{ parent() }}
    <style>
        .btn-postuler {
            color: #fff;
        }

        .btn-postule {
            background-color: #28a745;
            border-color: #28a745;
        }

        .btn-postuler:hover {
            color: #fff;
        }

        .btn-postule:hover {
            background-color: #218838;
            border-color: #1e7e34;
        }

        .btn-voir-postulations {
            background-color: #17a2b8;
            border-color: #17a2b8;
        }

        .btn-voir-postulations:hover {
            background-color: #138496;
            border-color: #117a8b;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container mt-4">
        {% if not offres.items is same as ([]) %}
            <h1 style="text-align: center">Liste des offres d'emploi</h1>
            <hr class="my-4">

            {% for message in app.flashes('success') %}
                <div class="alert alert-success mt-4">
                    {{ message }}
                </div>
            {% endfor %}

            {% if is_granted('ROLE_REPRESENTANT') %}
                <a href="{{ path('offreemploi.new') }}" class="btn btn-primary">
                    Créer une offre d'emploi
                </a>
            {% endif %}

            <div class="count mt-4">
                <h4 style="color: #1aa990">
                    Nombre total d'offres d'emploi :
                    {{ offres.getTotalItemCount }}
                </h4>
            </div>

            <table class="table table-hover" id="dataTable">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Titre</th>
                    <th scope="col">Description</th>
                    <th scope="col">Type de contrat</th>
                    {% if is_granted('ROLE_ETUDIANT') %}
                        <th scope="col">Postulation</th>
                    {% endif %}
                    {% if is_granted('ROLE_REPRESENTANT') %}
                        <th scope="col">Voir les postulations</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for offre in offres %}
                    <tr class="Default">
                        <th scope="row">{{ offre.id }}</th>
                        <td>{{ offre.titre }}</td>
                        <td>{{ offre.description }}</td>
                        <td>{{ offre.typecontrat.libelle }}</td>
                        {% if is_granted('ROLE_ETUDIANT') %}
                            <td>
                                {% if offre.isAlreadyAppliedBy(app.user) %}
                                    <button class="btn btn-success btn-postule" disabled>Postulé</button>
                                {% else %}
                                    <a href="{{ path('offre_emploi.postulation', {'id': offre.id}) }}" class="btn btn-info btn-postuler">Postuler</a>
                                {% endif %}
                            </td>
                        {% endif %}
                        {% if is_granted('ROLE_REPRESENTANT') %}
                            <td>
                                <a href="{{ path('postulations.index', {'id': offre.id}) }}" class="btn btn-info btn-voir-postulations">Voir les postulations</a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="navigation d-flex justify-content-center mt-4">

            </div>
        {% else %}
            <h4>Il n'y a pas d'offres d'emploi</h4>
        {% endif %}
    </div>
{% endblock %}

{% block datatable_scripts %}
    {{ parent() }}
    <!-- Initialisation de DataTables -->
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({
                "aoColumnDefs": [
                    {"bSortable": false, "aTargets": [0, 1, 2, 3, {% if is_granted('ROLE_ETUDIANT') %}4{% endif %} {% if is_granted('ROLE_REPRESENTANT') %}{% if is_granted('ROLE_ETUDIANT') %}, 5{% else %}4{% endif %}{% endif %}]}
                ]
            });
        });
    </script>
{% endblock %}
